# Dependencies
node_modules/

# Environment
.env

# Coverage reports
coverage/
coverage-e2e/

# Build output
dist/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

AWS_DEPLOYMENT.md
DEVOPS_GUIDE.md
DEVOPS_IMPROVEMENT_PLAN.md
USER_GUIDE.md
LOCAL_TESTING.md
implementation.md
test.md

# Python
__pycache__/
*.pyc
*.pyo
ansible-env/
.venv/

# AWS
*.pem
.aws/
awscliv2.zip
install
THIRD_PARTY_LICENSES
aws

# Logs
*.log
*.tmp

# Terraform
*.tfstate
.terraform/